<mat-card fxLayout="column" fxLayoutAlign="space-between stretch">
  <h1>Password Generator</h1>

  <mat-form-field>
    <input
      (input)="onEnterLengthChange($event.target.value)"
      matInput
      placeholder="Enter Length"
    />
  </mat-form-field>

  <mat-checkbox (change)="onIncludeLettersChange()">Use Letters</mat-checkbox>
  <mat-checkbox (change)="onIncludeNumbersChange()">Use Numbers</mat-checkbox>
  <mat-checkbox (change)="onIncludeSymbolsChange()">Use Symbols</mat-checkbox>

  <button
    mat-stroked-button
    [disabled]="
      !(length && (includeLetters || includeNumbers || includeSymbols))
    "
    (click)="onButtonClick()"
  >
    Generate Password
  </button>

  <mat-form-field *ngIf="password">
    <textarea
      cdkTextareaAutosize
      matInput
      placeholder="Your Password"
      [value]="password"
    >
    </textarea>
  </mat-form-field>
</mat-card>
